

{% extends 'gcna/base.html' %}


{% block content%}

 {% for form in form %}

<div class="card">
 
  <div class="card-body">

  </h5>
    <p class="card-text">
        <table id="vertical-1" class="table table-hover table-light">
        <!-- <caption>First Way</caption> -->
       


       <tr>

            <th>Nutmeg ID Number</th>
            <td>{{ form.STATION }}</td>
        </tr>  
        <tr>
            <th>Name</th>
            <td>{{ form.DATE_OF_PURCHASE }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ form.TOTAL_NUM_OF_FARMERS }}</td>
        </tr>
        <tr>
            <th>Parish</th>
            <td>{{ form.TOTAL_LBS_NUTMEG_BOUGHT }}</td>
        </tr>


        <tr>
            <th>Village</th>
            <td>{{ form.NUM_OF_BAGS }}</td>
        </tr>



        <tr>
            <th>Latitude</th>
            <td>{{ form.START_DRYING_DATE }}</td>
        </tr>



        <tr>
            <th>Longtitude</th>
            <td>{{ form.APPROX_END_DRYING_DATE }}</td>
        </tr>
        <tr>
            <th>Acreage</th>
            <td>{{ form.END_DRYING_DATE }}</td>
        </tr>








    <h3>PLACEMENT ON SHELF</h3>

     <h4>LOCATION1</h4>      
        <tr>
            <th>Insurance Zone</th>
            <td>{{ form.Ground_1 }}</td>
        </tr>


        <tr>
            <th>Home Phone</th>
            <td>{{ form.Floor_1st_1 }}
</td>
        </tr>



        <tr>
            <th>Photo of Land</th>
            <td>{{ form.Floor_2nd_1 }}
</td>
        <tr>
            <th>Mobile Phone</th>
            <td>{{ form.Floor_Loft_1 }}</td>
        </tr>
       



 <h3>MOISTURE TESTING (Weeks 3, 6, 8)</h3>



  <h4>LOCATION2</h4>     

        
        <tr>
            <th>Insurance Zone</th>
            <td>{{ form.insurance_zone }}</td>
        </tr>


        <tr>
            <th>Home Phone</th>
            <td>{{ form.Floor_1st_2 }}
</td>
        </tr>



        <tr>
            <th>Photo of Land</th>
            <td>{{ form.Floor_2nd_2 }}
</td>
        <tr>
            <th>Mobile Phone</th>
            <td>{{ form.Floor_Loft_2 }}</td>
        </tr>






<h3>MONITORING AND INSPECTION</h3>



        <tr>
            <th>Mobile Phone</th>
            <td>{{ form.LOCATION3 }}</td>
        </tr>



        <tr>
            <th>Mobile Phone</th>
            <td>{{ form.DEFECT }}</td>
        </tr>




        <tr>
            <th>Mobile Phone</th>
            <td>{{ form.PREDOMINANT_DEFECT }}</td>
        </tr>


        <tr>
            <th>Mobile Phone</th>
            <td>{{ form.ALERT }}</td>
        </tr>




        <tr>
            <th>Mobile Phone</th>
            <td>{{ form.Sampling_from_gouyvae }}</td>
        </tr>





        <tr>
            <th>Mobile Phone</th>
            <td>{{ form.Control_number }}</td>
        </tr>



    </table>
 
            <a href="`" class="btn btn-success">Edit</a>


                    </p>



       
 </div>        </div>

<br>
<br>
<br>
{% endfor %}

{% endblock %}
