{% extends 'gcna/base.html' %}

{% block content%}
	<style type="text/css">
		.btn-circle.btn-xl {
            width: 30px;
            height: 30px;
            padding: 3px 0px;
            border-radius: 25px;
            font-size: 15px;
            text-align: center;
		}
	</style>
	<center>
<br>
	{% if submitted %}
		Entry successfully added to database!!!
	{% else %}
		<form action="" method="POST" style=" background-color: #e4e4e4;

    margin: 1px auto;
    font-family: Raleway;
    padding: 10px;
    width: 55%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);">
    <h1>GCNA Form</h1>

		{% csrf_token %}



		<h3>Section D</h3>


		<label>Farmer ID</label>

		{{ form4.farmer_ID }}
<br>


		<label>Land Elevation</label>
		{{ form4.land_elevation }}

		<label>Soil Types</label>

		{{ form4.soil_type }}

		<label>Rainfall Pattern</label>

		{{ form4.rainfall_pattern }}


		<label>Other Crops</label>
        <table id="vertical-1" class="table table-hover table-light">
			<tr>
				<th>{{ form4.other_crops}}</th>
			</tr>
			</table>		


		<label>InterCrop</label>

		{{ form4.intercrop }}

		<label>Pure Stand</label>

		{{ form4.pure_stand }}

		<label>Normal Land</label>

		{{ form4.norm_land }}

		<label>Seasonal Land</label>

		{{ form4.seas_land }}

		<label>Abandoned Land</label>

		{{ form4.aban_land }}



		<input type="submit" name="" value="✔" class="btn btn-success btn-circle btn-xl">
		
		<br>
		<br>
		<a class="btn btn-outline-dark" href="{% url 'database0_3' %}" role="button"><</a>


		<a class="btn btn-outline-dark" href="{% url 'database0_5' %}" role="button">></a>


		</form>

	{% endif %}



	</center>

{{ form4.media }}

{% endblock %}



