<!--  {% extends 'gcna/base.html' %}

{% block content%}

	<h1>Database</h1>


	<h3>Full Form Table</h3>

{% for form in fullform_list %}

<div class="card">
  <div class="card-header">
     
  </div>
  <div class="card-body">
    <h5 class="card-title"> </h5>
    <p class="card-text">
	<ul>
  <li>Farmer ID: {{ form.farmer_ID }}</li>
  <li>Name: {{ form.name }}</li>
  <li>Village: {{ form.village }}</li>
  <li>Parish: {{ form.parish }}</li>
  <li>GPS: {{ form.GPS_location }}</li>
  <li>Email: {{ form.email }}</li>
  <li>Phone Number: {{ form.phone }}</li>
  <li>Age: {{ form.age }}</li>
  <li>Titles: {{ form.titles }}</li>
  <li>Family: {{ form.family }}</li>
  <li>Leasehood: {{ form.lease }}</li>
  <li>caretaker: {{ form.caretaker }}</li>
  <li>Agent: {{ form.agent }}</li>
  <li>Comments: {{ form.comments }}</li>
  <li>Tree Type: {{ form.Tree_types }}</li>
  <li>Mature trees >25 years: {{ form.Mature_trees }}</li>
  <li>Bearing trees <25 years: {{ form.Bearing_trees }}</li>
  <li>Non Bearing trees >25 years: {{ form.NonBearing_trees }}</li>
  <li>Land Elevation: {{ form.land_elevation }}</li>
  <li>Soil Types: {{ form.soil_type }}</li>
  <li>Rainfall Pattern: {{ form.rainfall_pattern }}</li>
<li>Other Crops: 
  {% for form in form.other_crops.all %}

   {{ form }}
  {% endfor %}
</li>
  <li>Intercrop: {{ form.intercrop }}</li>
  <li>Pure Stand: {{ form.pure_stand }}</li>
  <li>Normal Land: {{ form.norm_land }}</li>
  <li>Seasonal Land: {{ form.seas_land }}</li>
  <li>Abandoned Land: {{ form.aban_land }}</li>
  <li>Road Access: {{ form.road_access }}</li>
  <li>Land Slide: {{ form.land_slide }}</li>
  <li>Flooding: {{ form.flooding }}</li>
  <li>Heavy Metals: {{ form.heavy_metals }}</li>
  <li>Chemical Spills: {{ form.chemical_spills }}</li>
  <li>Dumping: {{ form.dumping }}</li>
  <li>Feedlot: {{ form.feedlot }}</li>
  <li>Pesticides: {{ form.pesticides }}</li>
  <li>Septic Tanks: {{ form.septic_tanks }}</li>
  <li>Manical(NAWASA): {{ form.manical }}</li>
  <li>River: {{ form.river }}</li>
  <li>Spring: {{ form.spring }}</li>
  <li>Well: {{ form.well }}</li>
  <li>Rain Harvested: {{ form.harvested }}</li>
  <li>Was the water treated?: {{ form.treated }}</li>
	<li>Estimated Annual Production: {{ form.annual_production }}</li>
	<li>Estimated Peak Prodution: {{ form.peak_productions }}</li>
 	<li>Inspected By: {{ form.inspected_by }}</li>
	<li>Date: {{ form.date }}</li> -->

<!-- </ul>

 </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 -->


<!-- {% endfor %}
{% endblock %} -->


 --> -->










 