{% extends 'gcna/base2.html' %}

{% block content%}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }


        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }


        th {
/*            background-color: #f2f2f2;*/
        }


        .main-header {
            text-align: center;
            font-size: 24px;
        }


        .sub-header {
            font-size: 18px;
        }
    </style>



	<center>
<br>
	{% if submitted %}
		Entry successfully added to database!!!
	{% else %}
		<form action="" method="POST" style=" background-color: #e4e4e4;

    margin: 1px auto;
    font-family: Raleway;
    padding: 10px;
    width: 95%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);">


    <div class="card">
 
  <div class="card-body">

  </h5>
    <p class="card-text">
        <table id="vertical-1" class="table table-hover table-light">


<h6>Document No. GCNA-R-02</h6>
<h6>Document Title: Moisture Analysis in Floated Nutmeg</h6>
<h6>Date Issued: 2023-07-03</h6>
<h6>Version: 1</h6>
    <h5>Section B</h5>
		{% csrf_token %}
    <h4>Corrective Action for Floating Nutmeg Above 10% Moisture Content</h4>





       <tr>
{{ form3.Worker_ID_No }}
{{ form3.Nutmeg_ID_No }}



<table class="table">
  <thead>
    <tr>

      <th scope="col" style="text-align:center;">DATE OF SAMPLING (Heavies)</th> 
      <th scope="col" style="text-align:center;">DATE OF SAMPLING (Lights)</th>
      <th scope="col" style="text-align:center;">Station</th>
     </tr>
  </thead>
  <tbody>
    <tr>

            <td>{{ form4.DATE_OF_SAMPLING_H }}</td>
            <td>{{ form4.DATE_OF_SAMPLING_L }}</td>
            <td>{{ form4.STATION }}</td>


    </tr>

  </tbody>
</table>


<br>


    <table table style="width:10px;">

        <tr>
            <th colspan="4" class="main-header">HEAVIES</th>
            <th colspan="4" class="main-header">LIGHTS</th>
        </tr>
        <tr>
      <td scope="col" style="text-align:center;">Total Quantity of Bags in Non Compliance(Heavies)</td> 
      <td colspan="3" style="text-align:center; width: 100px">{{ form4.Total_Quantity_of_Bags_in_Non_Compliance_H }}</td>
      <td scope="col" style="text-align:center;">Total Quantity of Bags in Non Compliance(Lights)</td>
      <td colspan="3" style="text-align:center; width: 100px">{{ form4.Total_Quantity_of_Bags_in_Non_Compliance_L }}</td>
        </tr>
        <tr>
            <td>Total Weight (lbs) of Nutmeg in Non Compliance(Heavies)</td>
            <td colspan="3" style="text-align:center; width: 100px">{{form4.Total_Weight_of_Nutmeg_in_Non_Compliance_H}}</td>



 
            <td>Total Weight (lbs) of Nutmeg in Non Compliance(Lights)</td>
            <td colspan="3" style="text-align:center; width: 100px">{{form4.Total_Weight_of_Nutmeg_in_Non_Compliance_L}}</td>

        </tr>




        <tr >
      <td scope="col" style="text-align:center;">Additional Drying Period</td> 
      <td colspan="3" style="text-align:center; width: 100px">{{ form4.Additional_Drying_Period_days_H }}</td>
      <td scope="col" style="text-align:center;">Additional Drying Period</td>
      <td colspan="3" style="text-align:center; width: 100px">{{ form4.Additional_Drying_Period_days_L }}</td>
        </tr>
 


         <tr > 
            <td colspan="1">Total Weight(Heavies)</td>
            <td colspan="1" style="text-align:center; width: 100px">{{form4.Total_Weight_H}}</td>
            <td colspan="1">Initial Sample Weight(Heavies)</td>
            <td colspan="1" style="text-align:center; width: 100px">{{form4.Initial_Sample_Weight_H}}</td>

            <td colspan="1">Total Weight(Light)</td>
            <td colspan="1" style="text-align:center; width: 100px">{{form4.Total_Weight_L}}</td>
            <td colspan="1">Initial Sample Weight(Light)</td>
            <td colspan="1"style="text-align:center; width: 100px">{{form4.Initial_Sample_Weight_L}}</td>
        </tr>
    </table>


    <table>





    </table>









  <table>
        <tr>

            <th colspan="8" class="main-header">Weight (oz/lbs)</th>
         </tr>
        <tr>
      <th colspan="4" style="text-align:center;">Heavies</th> 
      <th colspan="4" style="text-align:center; ">Lights</td>


        </tr>
        <tr>
            <td scope="col" style="text-align:center; width: 100px">Insect Damaged </td>
            <td scope="col" style="text-align:center; width: 100px">Broken</td>
            <td scope="col" style="text-align:center; width: 100px">Mould</td>

            <!-- <td scope="col" style="text-align:center; width: 100px">{{form3.Initial_Sample_Weight_L}}</td> -->

            <td></td>
            <td></td>

            <td scope="col" style="text-align:center; width: 100px">Insect Damaged </td>
            <td scope="col" style="text-align:center; width: 100px">Broken</td>
            <td scope="col" style="text-align:center; width: 100px">Mould</td>


        </tr>



        <tr>
            <td scope="col" style="text-align:center; width: 100px">{{form4.Insect_Damaged_H}} </td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.Broken_H}}</td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.Mould_H}}</td>

            <!-- <td scope="col" style="text-align:center; width: 100px">{{form4.Initial_Sample_Weight_L}}</td> -->

            <td></td>
            <td></td>
            
            <td scope="col" style="text-align:center; width: 100px">{{form4.Insect_Damaged_L}} </td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.Broken_L}}</td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.Mould_L}}</td>


        </tr>

      <tr>
            <td scope="col" style="text-align:center; width: 100px">Final Sample Weight (Heavies) </td>
            <td colspan="2" style="text-align:center; width: 100px">{{form4.Final_Sample_Weight_H}}</td>


            <!-- <td scope="col" style="text-align:center; width: 100px">{{form4.Initial_Sample_Weight_L}}</td> -->

            <td></td>
            <td></td>
            
            <td scope="col" style="text-align:center; width: 100px">Final Sample Weight (Lights) </td>
            <td colspan="2" style="text-align:center; width: 100px">{{form4.Final_Sample_Weight_L}}</td>



        </tr>



</table>



  <table>

  	
        <tr>

            <td colspan="8" class="main-header">MOISTURE CONTENT RESULTS (%)</td>
         </tr>


        <tr>
      <td colspan="4" style="text-align:center;">CRITERIA</td> 
      <td colspan="4" style="text-align:center; "><10%</td>


        </tr>


        <tr>
      <td colspan="4" style="text-align:center;">Heavies</td> 
      <td colspan="4" style="text-align:center; ">Lights</td>

        </tr>



        <tr>
            <td scope="col" style="text-align:center; width: 100px">READING 1 </td>
            <td scope="col" style="text-align:center; width: 100px">READING 2</td>
            <td scope="col" style="text-align:center; width: 100px">READING 3</td>
            <td scope="col" style="text-align:center; width: 100px">Average</td>



            
            <td scope="col" style="text-align:center; width: 100px">READING 1 </td>
            <td scope="col" style="text-align:center; width: 100px">READING 2</td>
            <td scope="col" style="text-align:center; width: 100px">READING 3</td>
            <td scope="col">Average</td>


        </tr>



        <tr>
            <td scope="col" style="text-align:center; width: 100px">{{form4.READING_1_H}} </td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.READING_2_H}}</td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.READING_3_H}}</td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.AVERAGE_H}}</td>



            
            <td scope="col" style="text-align:center; width: 100px">{{form4.READING_1_L}} </td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.READING_2_L}} </td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.READING_3_L}}</td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.AVERAGE_L}}</td>


        </tr>



        <tr>
      <td colspan="1" style="text-align:center;">DECISION (Pass/Fail)</td> 
      <td colspan="3" style="text-align:center;">{{form4.DECISION_H}}</td> 


      <td colspan="1" style="text-align:center; ">DECISION (Pass/Fail)</td>
      <td colspan="3" style="text-align:center;">{{form4.DECISION_L}}</td> 

        </tr>



        <tr>
            <td scope="col" style="text-align:center; width: 100px">Test Performed by</td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.TEST_PERFORMED_BY_H}}</td>
            <td scope="col" style="text-align:center; width: 100px">Date</td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.DATE_H}}</td>



            <td scope="col" style="text-align:center; width: 100px">Test Performed by </td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.TEST_PERFORMED_BY_L}}</td>
            <td scope="col" style="text-align:center; width: 100px">Date</td>
            <td scope="col" style="text-align:center; width: 100px">{{form4.DATE_L}}</td>


        </tr>



        <tr>
            <td scope="col" style="text-align:center; width: 100px">Approved By </td>
            <td colspan="2" style="text-align:center; width: 100px">{{form4.SIGNED_BY}}</td>


            
            <td></td>
            <td></td>
            
            <td scope="col" style="text-align:center; width: 100px">Date Of Report</td>
            <td colspan="2" style="text-align:center; width: 100px">{{form4.DATE_OF_REPORT}}</td>


        </tr>
-



        <tr>
            <td scope="col" style="text-align:center; width: 100px">SIGNED BY Quality Assurance Officer</td>
            <td colspan="2" style="text-align:center; width: 100px">{{form4.SIGNED_BY_Quality_Assurance_Officer}}</td>


            <td></td>
            <td></td>
            
            <td scope="col" style="text-align:center; width: 100px">Date</td>
            <td colspan="2" style="text-align:center; width: 100px">{{form4.DATE}}</td>


        </tr>


    </table>


		<input type="submit" name="" value="✔" class="btn btn-success btn-circle btn-xl">

		<br>
		<br>
</table>

              <tr>
            <th><a href="{% url 'table' %}" class="btn btn-secondary">Exit</a></th>
            <th><a type="submit" href="{% url 'database10' %}" role="button" class="btn btn-primary">Previous</a></th>
            <th><a type="submit" href="{% url 'database12' %}" role="button" class="btn btn-primary">Next</a></th>
 

        </tr>		

		</form>

	{% endif %}

	</center>
{{ form4.media }}

{% endblock %}



