

  {% extends 'gcna/base.html' %}

{% block content%}

	<center>
<br>
  <form method="post" enctype="multipart/form-data" style=" background-color: #e4e4e4;

    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 75%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);">
    {% csrf_token %}

        <h1>Import Excel Files</h1>

    
    <input type="file" name="myfile"  >



    <button type="submit">Upload</button>
  </form>

	</center>

{% endblock %}


