{% extends 'gcna/base2.html' %}

{% block content%}



    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }


        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }


        th {
/*            background-color: #f2f2f2;*/
        }


        .main-header {
            text-align: center;
            font-size: 24px;
        }


        .sub-header {
            font-size: 18px;
        }
    </style>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>





<script>
$(document).ready(function() {

  $('#Tab_Alert').hide(); 
  $('#Tab_Alert2').hide(); 

  


  $('#id_PRODUCT_DESCRIPTION').on('change', function() {
    if ($(this).val() == 'Others') {
        $('#Tab_Alert').show(); 

    } else {
        $('#Tab_Alert').hide();

    }
  
});

  $('#id_PACKAGING_MATERIAL').on('change', function() {
    if ($(this).val() == 'Other') {
        $('#Tab_Alert2').show(); 

    } else {
        $('#Tab_Alert2').hide();

    }
  
});




  $('#id_START_DRYING_DATE').on('change', function() {
    var startDate = new Date($(this).val());
    var approxEndDate = new Date(startDate.getTime() + (42 * 24 * 60 * 60 * 1000)); 

    var day = ("0" + approxEndDate.getDate()).slice(-2); 

    var month = ("0" + (approxEndDate.getMonth() + 1)).slice(-2);

    var year = approxEndDate.getFullYear();

    var formattedDate = year + "-" + month + "-" + day;

    $('#id_APPROX_END_DRYING_DATE').val(formattedDate);
      });

  $('#id_NUM_OF_BAGS').on('change', function() {
    var start =  $('#id_NUM_OF_BAGS').val();
    var calc = start * 110; 
    $('#id_TOTAL_LBS_NUTMEG_BOUGHT').val(calc);
      });


});









</script>



	<center>
<br>
	{% if submitted %}
		Entry successfully added to database!!!
	{% else %}
		<form action="" method="POST" style=" background-color: #e4e4e4;

    margin: 1px auto;
    font-family: Raleway;
    padding: 10px;
    width: 55%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);">

<h6>Document No. GCNA-GMP</h6>
<h6>Document Title:  </h6>
<h6>Date Issued:  </h6>
<h6>Version:  </h6>

    <h1>Package Control Form</h1>
 
		{% csrf_token %}

        <table id="vertical-1" class="table table-hover table-light">
        <!-- <caption>First Way</caption> -->
       
{{ form.Nutmeg_ID_No }}


       <tr>

            <th>Product Descriptions</th>
            <td>{{ form.PRODUCT_DESCRIPTION }}</td>
        </tr>  

<table class="table" id="Tab_Alert">
       <tr> 
            <th>Product Descriptions cont</th>
            <td>{{ form.PRODUCT_DESCRIPTION_cont }}</td>
        </tr>  

</table>

  <table>

    
        <tr>

            <th colspan="8" class="main-header">PACKAGING DATE</th>
         </tr>


        <tr>
      <th colspan="2" style="text-align:center;">Start Date</th> 
      <th colspan="2" style="text-align:center; ">{{ form.START }}</td>
      <th colspan="2" style="text-align:center;">End Date</th> 
      <th colspan="2" style="text-align:center; ">{{ form.END }}</td>

        </tr>
    </table>

        <table id="vertical-1" class="table table-hover table-light">



        <tr>
            <th>Quantity of bags</th>
            <td>{{ form.QUANTITY_OF_BAGS }}</td>
        </tr>


        <tr>
            <th>Total Weight(lbs)</th>
            <td>{{ form.TOTAL_WEIGHT_LBS }}</td>
        </tr>



        <tr>
            <th>Package Material</th>
            <td>{{ form.PACKAGING_MATERIAL }}</td>
        </tr>

<table class="table" id="Tab_Alert2">
       <tr> 
            <th>Package Material cont</th>
            <td>{{ form.PACKAGING_MATERIAL_cont }}</td>
        </tr>  

</table>

        <tr>
            <th>Batch Number</th>
            <td>{{ form.BATCH_NUMBER }}</td>
        </tr>
        <tr>
            <th>Contract Number</th>
            <td>{{ form.CONTRACT_NUMBER }}</td>
        </tr>





  <table>



        <tr>
      <th colspan="2" style="text-align:center;">Offical Lab Results</th> 
      <th colspan="2" style="text-align:center; ">{{ form.Physical_Analysis }}</td>
      <th colspan="2" style="text-align:center;">{{ form.Chemical_Analysis }}</th> 
      <th colspan="2" style="text-align:center; ">{{ form.Microbiological_Analysis }}</td>

        </tr>
    </table>

 

    </table>
	  <tr>
            <th><a href="{% url 'table' %}" class="btn btn-secondary">Return</a></th>
        </tr>

	            <th><a type="submit" href="{% url 'add_Floation_0' %}" role="button" class="btn btn-primary">Previous</a></th>

		<input type="submit" name="" value="submit" class="btn btn-success">
		


      




		</form>

	{% endif %}

	</center>
{{ form.media }}

{% endblock %}
