

<h2>Form submitted successfully!</h2>
<p>Thank you for your submission.</p>
<table>
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ form_data.name }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ form_data.email }}</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>{{ form_data.address }}</td>
  </tr>
  <tr>
    <td>City</td>
    <td>{{ form_data.city }}</td>
  </tr>
  <tr>
    <td>Country</td>
    <td>{{ form_data.country }}</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>{{ form_data.age }}</td>
  </tr>
  <tr>
    <td>Occupation</td>
    <td>{{ form_data.occupation }}</td>
  </tr>
</table>
