
{% extends 'gcna/base2.html' %}


{% block content%}


<div class="card">
 
  <div class="card-body">

  </h5>
    <p class="card-text">
        <table id="vertical-1" class="table table-hover table-light">
       



         <tr>

            <th>Other Crops</th>
            <td>{{ farmer_info_id.Name_of_Crops }}</td>
        </tr>

        <tr>
            <th>Number of trees/stools</th>
            <td>{{ farmer_info_id.Number_of_Trees_or_stools }}</td>
        </tr>




              <tr>
            <th><a href="{% url 'table' %}" class="btn btn-secondary">Return</a></th>
        </tr>
    </table>
                    </p>



       
 </div>        </div>

<br>
<br>
<br>

{% endblock %}

