
    {% extends 'gcna/base.html' %}

{% block content %}

        <h3>Quality Nutmeg Form</h3>
        
        {% for quality in quality_list %}
        <div class="card">
         
            <div class="card-body">
                <h5 class="card-title"><strong>Titles: {{ quality }}</strong></h5>
                <p class="card-text">
                    <table id="vertical-1" class="table table-hover table-light">
       



         <tr>
            <th>DATE_1</th>
            <td>{{ quality.DATE_1 }}</td>
        </tr>
        <tr>
            <th>Station</th>
            <td>{{ quality.STATION }}</td>
        </tr>
        <tr>
            <th>Batch Codes</th>
            <td>{{ quality.BATCH_NUMBER }}</td>
        </tr>
        <tr>
            <th>REWORK</th>
            <td>{{ quality.REWORK }}</td>
        </tr>


        <tr>
            <th>SAMPLE_WEIGHT</th>
            <td>{{ quality.SAMPLE_WEIGHT }}</td>
        </tr>



        <tr>
            <th>ASSORTOR</th>
            <td>{{ quality.ASSORTOR }}</td>
        </tr>



        <tr>
            <th>SOUNDS</th>
            <td>{{ quality.SOUNDS }}</td>
        </tr>
        <tr>
            <th>PINHOLES</th>
            <td>{{ quality.PINHOLES }}</td>
        </tr>
        <tr>
            <th>CRACKED</th>
            <td>{{ quality.CRACKED }}</td>
        </tr>


        <tr>
            <th>BROKEN</th>
            <td>{{ quality.BROKEN }}</td>
        </tr>



        <tr>
            <th>PIECES</th>
            <td>{{ quality.PIECES }}</td>
        </tr>


        <tr>
            <th>FOREIGN_MATTER</th>
            <td>{{ quality.FOREIGN_MATTER }}</td>
        </tr>
        <tr>
            <th>SUPERVISOR</th>
            <td>{{ quality.SUPERVISOR }}</td>
        </tr>
        <tr>
            <th>COMMENTS</th>
            <td>{{ quality.COMMENTS }}</td>
        </tr>


        <tr>
            <th>SIGNED_BY</th>
            <td>{{ quality.SIGNED_BY }}</td>
        </tr>



        <tr>
            <th>Station_Manager</th>
            <td>{{ quality.Station_Manager }}</td>
        </tr>


        <tr>
            <th>DATE_OF_REPORT</th>
            <td>{{ quality.DATE_OF_REPORT }}</td>
        </tr>
        <tr>
            <th>SIGNED_BY_QUALITY_ASSURANCE_OFFICER</th>
            <td>{{ quality.SIGNED_BY_QUALITY_ASSURANCE_OFFICER }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ quality.DATE_2 }}</td>
        </tr>
 
 
                    </table>
                </p>
                          <a href="{% url 'adhome' %}" class="btn btn-secondary">Return</a>
  
                <a href="{% url 'edit_quality' quality.pk %}" class="btn btn-primary">Edit</a>
                                
                <form action="{% url 'delete_quality' quality.pk %}" method="POST" style="display: inline-block;">
                    {% csrf_token %}
                    <button type="submit" href="{% url 'delete_quality' quality.pk %}" class="btn btn-danger">Delete</button>
                </form>
                
                <a href="{% url 'import_data5' %}" class="btn btn-success">Import Excel</a>
            </div>
        </div>
         <br>
        <br>
        <br>
        {% endfor %}
    {% endblock %}


