
{% extends 'gcna/base2.html' %}


{% block content%}
{% comment %} 
 {% for farmer_info_id in farmer_info_id %}

<div class="card">
 
  <div class="card-body">

  </h5>
    <p class="card-text">
        <table id="vertical-1" class="table table-hover table-light">
       



       <tr>

            <th>Nutmeg ID Number</th>
            <td>{{ farmer_info_id.Nutmeg_ID_No }}</td>
        </tr>


         <tr>

            <th>Number of bearing Lime Trees</th>
            <td>{{ farmer_info_id.No_of_Bearing_Trees_Lime }}</td>
        </tr>
        <tr>
            <th>Number of bearing Lemon Trees</th>
            <td>{{ farmer_info_id.No_of_Bearing_Trees_Lemon }}</td>
        </tr>
        <tr>
            <th>Number of bearing Mango Trees </th>
            <td>{{ farmer_info_id.No_of_Bearing_Trees_Mangoes }}</td>
        </tr>


        <tr>
            <th>Estimated production of Lime Trees</th>
            <td>{{ farmer_info_id.Estimated_Productiom_Lime }}</td>
        </tr>


        <tr>
            <th>Estimated production of Lemon Trees</th>
            <td>{{ farmer_info_id.Estimated_Productiom_Lemon }}</td>
        </tr>


        <tr>
            <th>Estimated production of Mango Trees</th>
            <td>{{ farmer_info_id.Estimated_Productiom_Mangoes }}</td>
        </tr>  


        <tr>
            <th>Number of non-bearing Lime Trees</th>
            <td>{{ farmer_info_id.No_of_Non_Bearing_Trees_Lime }}</td>
        </tr>  


        <tr>
            <th>Number of non-bearing Lemon Trees</th>
            <td>{{ farmer_info_id.No_of_Non_Bearing_Trees_Lemon }}</td>
        </tr>  


        <tr>
            <th>Number of non-bearing Mango Trees </th>
            <td>{{ farmer_info_id.No_of_Non_Bearing_Trees_Mangoes }}</td>
        </tr>  


        <tr>
            <th>Presence of Disease in Lime</th>
            <td>{{ farmer_info_id.Presence_of_Disease_Lime }}</td>
        </tr>  




        <tr>
            <th>Presence of Disease in Lemon</th>
            <td>{{ farmer_info_id.Presence_of_Disease_Lemon }}</td>
        </tr>  




        <tr>
            <th>Presence of Disease in Mangoes</th>
            <td>{{ farmer_info_id.Presence_of_Disease_Mangoes }}</td>
        </tr>  


        <tr>
            <th>Cultivation of Lime</th>
            <td>{{ farmer_info_id.Cultivation_Lime }}</td>
        </tr>  




        <tr>
            <th>Cultivation of Lemon</th>
            <td>{{ farmer_info_id.Cultivation_Lemon }}</td>
        </tr>  




        <tr>
            <th>Cultivation of Managoes</th>
            <td>{{ farmer_info_id.Cultivation_Mangoes }}</td>
        </tr>  








              <tr>
            <th><a href="{% url 'table' %}" class="btn btn-secondary">Return</a></th>
        </tr>
    </table>
                    </p>



       
 </div>        </div>

<br>
<br>
<br>
{% endfor %} {% endcomment %}

        
<div class="card">
         
    <div class="card-body">
        <p class="card-text">
            <table id="vertical-1" class="table table-hover table-light" >


<div id="landInfoData"></div>
<div id="editFormContainer"></div>

</table>
</p>
</div>
</div>



<br>
<br>
<br>


<script>

    // Open the GCNA database
    let openRequest = indexedDB.open("GCNA");

    openRequest.onsuccess = function (event) {
        let db = event.target.result;

        // Open a transaction to read from the land-info store
        let transaction = db.transaction(" Citrus-Mango-Trees", "readonly");
        let landInfoStore = transaction.objectStore(" Citrus-Mango-Trees");

        // Get all records from  Citrus-Mango-Trees store
        let getAllRequest = landInfoStore.getAll();

        getAllRequest.onsuccess = function (event) {
            let landInfoRecords = event.target.result;

            // Open the Check database
            let openRequestCheck = indexedDB.open("LandId");

            openRequestCheck.onsuccess = function (event) {
                let dbCheck = event.target.result;

                // Open a transaction to read from the verify store
                let transactionCheck = dbCheck.transaction("land-ids", "readonly");
                let verifyStore = transactionCheck.objectStore("land-ids");

                // Get all records from verify store
                let getAllRequestCheck = verifyStore.getAll();

                getAllRequestCheck.onsuccess = function (event) {
                    let verifyRecords = event.target.result;
                    

                    // Filter landInfoRecords based on Nutmeg_ID_No in verifyRecords
                    let filteredLandInfoRecords = landInfoRecords.filter(landInfoRecord =>
                        verifyRecords.some(verifyRecord => verifyRecord.Land_ID_N0 === landInfoRecord.Land_ID_N0)
                    );

                    // Map filteredLandInfoRecords to include delete and edit buttons
                    let landInfoDataDiv = document.getElementById('landInfoData');
                    filteredLandInfoRecords.forEach(record => {
                        let entryDiv = document.createElement("div");
                        entryDiv.innerHTML = `
                            <h3> Citrus Mango Trees Entries</h3>
                            <ul>
                                ${Object.entries(record).map(([key, value]) => `

                                    <tr>
                                        <th><strong>${key}:</strong> </th>
                                        <td>${value}</td>
                                    </tr>
                                    <br>

                                `).join('')}



                            </ul>
                            <button class="btn btn-danger" onclick="deleteEntry(${record.id})">Delete</button>
                            <button class="btn btn-primary" onclick="editEntry(${record.id})">Edit</button>
                        `;

                        landInfoDataDiv.appendChild(entryDiv);
                    });
                };
            };
        };
    };

    // Function to delete a record based on ID
    function deleteEntry(id) {
        let db = indexedDB.open("GCNA");

        db.onsuccess = function (event) {
            let transaction = event.target.result.transaction(" Citrus-Mango-Trees", "readwrite");
            let landInfoStore = transaction.objectStore(" Citrus-Mango-Trees");

            let deleteRequest = landInfoStore.delete(id);

            deleteRequest.onsuccess = function () {
                console.log(`Record with ID ${id} deleted.`);
                // You might want to refresh your display here.
            };

            deleteRequest.onerror = function () {
                console.log(`Failed to delete record with ID ${id}.`);
            };
        };

        db.onerror = function () {
            console.log("Failed to open database.");
        };
    }

    // Function to edit a record based on ID
    function editEntry(id) {
        event.preventDefault(); // Prevent form submission and page reload

        // Open the GCNA database
        let openRequest = indexedDB.open("GCNA");

        openRequest.onsuccess = function (event) {
            let db = event.target.result;

            // Open a new transaction to read from the  Citrus-Mango-Trees store
            let transaction = db.transaction(" Citrus-Mango-Trees", "readwrite");
            let landInfoStore = transaction.objectStore(" Citrus-Mango-Trees");

            // Get the record with the specified ID
            let getRequest = landInfoStore.get(id);

            getRequest.onsuccess = function (event) {
                let record = event.target.result;

                // Generate the form fields dynamically based on the record properties
                let formFieldsHTML = '';
                for (let property in record) {
                    if (record.hasOwnProperty(property) && property !== 'id') {
                        formFieldsHTML += `
                            <label for="${property}">${property}:</label>
                            <input type="text" id="${property}" name="${property}" value="${record[property]}"> <br>
                        `;
                    }
                }

                // Create an edit form and populate it with the generated fields
                const editFormContainer = document.getElementById('editFormContainer');
                editFormContainer.innerHTML = `
                    <form id="editForm">
                        ${formFieldsHTML}
                        <button type="button" id="saveButton">Save</button>
                        <button type="button" id="closeButton">Close</button>
                    </form>
                `;

                // Add an event listener to the "Save" button to save changes
                const saveButton = document.getElementById('saveButton');
                saveButton.addEventListener('click', function () {
                    // Open a new transaction to update the record
                    let updateTransaction = db.transaction(" Citrus-Mango-Trees", "readwrite");
                    let landInfoStoreToUpdate = updateTransaction.objectStore(" Citrus-Mango-Trees");

                    // Update the record with the new data
                    for (let property in record) {
                        if (record.hasOwnProperty(property) && property !== 'id') {
                            record[property] = document.getElementById(property).value;
                        }
                    }

                    // Put the updated record back into the store
                    let putRequest = landInfoStoreToUpdate.put(record);

                    putRequest.onsuccess = function () {
                        console.log('Record updated successfully');
                    };

                    putRequest.onerror = function (event) {
                        console.error('Error updating record:', event.target.error);
                    };

                    // Complete the transaction
                    updateTransaction.oncomplete = function () {
                        console.log('Transaction completed');
                        // You might want to refresh your display here.
                    };
                });

                // Add an event listener to the "Close" button to hide the form
                const closeButton = document.getElementById('closeButton');
                closeButton.addEventListener('click', function () {
                    editFormContainer.innerHTML = ''; // Clear the edit form
                });
            };

            getRequest.onerror = function (event) {
                console.error('Error getting record:', event.target.error);
            };
        };

        openRequest.onerror = function (event) {
            console.error('Error opening database:', event.target.error);
        };
    }
</script>





{% endblock %}

