
{% extends 'gcna/base2.html' %}


{% block content%}


<div class="card">
 
  <div class="card-body">

  </h5>
    <p class="card-text">
        <table id="vertical-1" class="table table-hover table-light">
       
   

  

         <tr>

            <th>Number of chive stools</th>
            <td>{{ farmer_info_id.No_of_Stools_chive }}</td>
        </tr>
        <tr>
            <th>Number of thyme stools</th>
            <td>{{ farmer_info_id.No_of_Stools_Thyme }}</td>
        </tr>
        <tr>
            <th>Number of celery stools</th>
            <td>{{ farmer_info_id.No_of_Stools_Celery }}</td>
        </tr>





        <tr>
            <th>Number of parsley stools</th>
            <td>{{ farmer_info_id.No_of_Stools_Parsley }}</td>
        </tr>


        <tr>
            <th>Number of petit bum stools</th>
            <td>{{ farmer_info_id.No_of_Stools_Petit_Bum }}</td>
        </tr>


        <tr>
            <th>Number of seasoning pepper stools</th>
            <td>{{ farmer_info_id.No_of_Stools_Seasoning_Pepper }}</td>
        </tr>  





        <tr>
            <th>Number of Hot pepper stools</th>
            <td>{{ farmer_info_id.No_of_Stools_Hot_Pepper }}</td>
        </tr>  




        <tr>
            <th>Presence of Disease in chives</th>
            <td>{{ farmer_info_id.Presence_of_Disease_chive }}</td>
        </tr>  


        <tr>
            <th>Presence of Disease in thyme</th>
            <td>{{ farmer_info_id.Presence_of_Disease_Thyme }}</td>
        </tr>  



        <tr>
            <th>Presence of Disease in celery</th>
            <td>{{ farmer_info_id.Presence_of_Disease_Celery }}</td>
        </tr>  




        <tr>
            <th>Presence of Disease in parsley</th>
            <td>{{ farmer_info_id.Presence_of_Disease_Parsley }}</td>
        </tr>  



        <tr>
            <th>Presence of Disease in petit bum</th>
            <td>{{ farmer_info_id.Presence_of_Disease_Petit_Bum }}</td>
        </tr>  

        <tr>
            <th>Presence of Disease in seasoning pepper</th>
            <td>{{ farmer_info_id.Presence_of_Disease_Seasoning_Pepper }}</td>
        </tr>  

        <tr>
            <th>Presence of Disease in hot pepper</th>
            <td>{{ farmer_info_id.Presence_of_Disease_Hot_Pepper }}</td>
        </tr> 

        <tr>
            <th>Cultivation of chive</th>
            <td>{{ farmer_info_id.Cultivation_chive }}</td>
        </tr>  

        <tr>
            <th>Cultivation of thyme</th>
            <td>{{ farmer_info_id.Cultivation_Thyme }}</td>
        </tr>  

        <tr>
            <th>Cultivation of celery</th>
            <td>{{ farmer_info_id.Cultivation_Celery }}</td>
        </tr>  

        <tr>
            <th>Cultivation of parsley</th>
            <td>{{ farmer_info_id.Cultivation_Parsley }}</td>
        </tr>  

        <tr>
            <th>Cultivation of petit bum</th>
            <td>{{ farmer_info_id.Cultivation_Petit_Bum }}</td>
        </tr>  



         <tr>
            <th>Cultivation of seasoning pepper</th>
            <td>{{ farmer_info_id.Cultivation_Seasoning_Pepper }}</td>
        </tr>  
        



        <tr>
            <th>Cultivation of hot pepper</th>
            <td>{{ farmer_info_id.Cultivation_Hot_Pepper }}</td>
        </tr>  




              <tr>
            <th><a href="{% url 'table' %}" class="btn btn-secondary">Return</a></th>
        </tr>
    </table>
                    </p>



       
 </div>        </div>

<br>
<br>
<br>

{% endblock %}

